

/*BELIEVERS*/

#believers {
	background: #FFFAF0;
	padding: 4em 3em;
	padding-top: 5em;
	color: #38138E;
	margin-top: -32%;
	text-align: center;
}

#believers p {
	line-height: 220%;
}

#believers h3 {
	color: #38138E;
}

#believers h4 {
	color: #38138E;	
}

.clients img {
	padding: 1em;
}
.clients li{
	display: inline;
	float: left;
	padding: 1.2em;
}





@include media ('>desktop') {

.clients img {
	padding: 0.5em;}

.clients li{
	display: inline;
	float: left;
	padding: 1.2em;
}
}



@include media ('>desktop') {


	#believers {
		padding: 6em 0em;
		margin-top: -8%;}

}
