/*SERVICES*/

.handy img {
	opacity: 0.2;
	z-index: -3;
	margin-top: -50em;
	padding-bottom: 2em;
}

#services {
	background: #FFFAF0;
	padding: 6em 1em;

  -ms-transform: skew(0deg,6deg);
  -webkit-transform: skew(0deg,6deg); 
  transform: skew(0deg,6deg); /* Standard syntax */

}

#services ul {
  padding-left: 1em;
  padding-top: 2em;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 180%;
  font-size: 1em;
  color: #38138E;



	-ms-transform: skew(0deg,-6deg); 
    -webkit-transform: skew(0deg,-6deg); 
    transform: skew(0deg,-6deg); 
    position:relative;
    z-index:1; 
}

#services h1 {
  color: #38138E;
  line-height: 100%;
  margin-left: 0.2em;
  z-index: 3;

	-ms-transform: skew(0deg,-6deg); 
    -webkit-transform: skew(0deg,-6deg); 
    transform: skew(0deg,-6deg); 
    position:relative;
    z-index:1; 
}



@include media ('>desktop') {


  #services ul {
      margin-top: 33%;
      margin-left: -38%;}

  .handy img {
    margin-top: -20em;
    padding-bottom: 4em;
    padding-left: 3em;}

}



@include media ('>desktop') {

  #services ul {
      margin-top: 46%;
      margin-left: -2%;}

}
