

@import "./imports/variables";

h1, h2, h3, h4, h5, h6, th, td, input, textarea, select, option, legend, fieldset, button, optgroup  {
font-family: "freight-display-pro", serif;
font-style: normal;
}

body, p {
font-family: "Roboto Mono", monospace;
}

body {
  font-size: 100%;
	max-width: 100%;
  overflow-x: hidden;	
}

.nooverflow{
	overflow:hidden;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

/*
@include media(">phone") {
  #page {
    font-size: 1em;
    /* equivalent to 16px 
    line-height: 1.375;
    /* equivalent to 22px *//* 
  }
}
*/

h1 {
  font-size: 3.9em;
  line-height: 1.25;
  font-family: "freight-display-pro", serif;
  font-weight: 900;
  letter-spacing: 0.5px;

  #welcome {
    color: #fff;  
  }

  #services{
    color: #D85B56;
    margin-left: 0.2em;
    z-index: 3;

}


@include media ('>tablet') {
  h1 {
    font-size: 4.2em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }

}


@include media ('>desktop') {
  h1 {
  font-size: 5.75em;
    line-height: 1.25;
  }
}


h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
  letter-spacing: 2px;
}


@include media ('>tablet') {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}


@include media ('>desktop') {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}


h3 {
  font-size: 1.175em;
  /* 1.375x body copy size = 22px */
  line-height: 1.2;
  /* 25px / 22px */
}


@include media ('>tablet') {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}


@include media ('>desktop') {
  h3 {
    font-size: 1.55em;
    /* 1.75x body copy size = 28px */
    line-height: 1.583;
  }
}


h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}


@include media ('>tablet') {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}


h5 {
  font-size: 1em;
  /* 1.125x body copy size = 18px */
  line-height: 1.0;
}


h6 {
  font-size: .6em;
  /* 1.125x body copy size = 18px */
  line-height: 1em;
}


@include media ('>tablet') {
  h6 {
    font-size: 1em;
    line-height: 1em;
    /* (22px / 18px */
  }
}




p {
  font-size: .8rem;
  line-height: 1rem;
}


@include media ('>tablet') {
  p {
    font-size: 1rem;
      line-height: 1.625rem;

  }
}




blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}



@include media ('>tablet') {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}


b,strong{
	font-weight:700;
}




#welcome {
  background: $creme;
  color: $purple;
  padding-bottom: 3em;
  padding-top: 3em;
  padding-left: 1.7em;
}

.welcometext {
  color: $purple;
  font-size: 1em;
}

#welcome h1 {
  font-weight: 900;
  letter-spacing: 0.5px;
  color: $purple;
}

#welcome p {
  letter-spacing: 1px;
  font-size: 1em;
  color: $purple;
}

#welcome {
  background: #FFFAF0;
  color: $purple;
}

#beliefs h2 {
  text-transform: uppercase;
  color: $purple;
  letter-spacing: 2px;
}

#beliefs {
  background: #FFFAF0;
  color: $purple;
  text-align: center;
  padding: 3em 1.5em;
}

#beliefs h3 {
  font-weight: 700; 
  letter-spacing: 0.5px;
  line-height: 150%;
}

#beliefs span {
  font-size: 0.5em;
  display: inline;
}



